# Exploring the Titanic in R #

### The sinking of the Titanic is one of the most infamous shipwrecks in history. On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1,502 out of 2,224 passengers and crew. ###

### As well as a tragic disaster, the Titanic is a classic film, but did you know the Titanic is also a readily available and popular dataset that's been available for a number of years? This is what we'll be exploring today! ###

<div id = 'titanic'>
    <div class = "inline-block">
        <figure><img src = 'titanic_picture.jpg' width = "40%" height = "20%"></figure>
    </div>
    </div>

### It's one of many datasets that are built-in to R, we can access this by loading the [Titanic Package](https://cran.r-project.org/web/packages/titanic/index.html), and this is what we'll be using today to perform some data analyses in R. ###

## What will be covered in the session? ##
This session will be a hands-on exploratory data analyses, including packages commonly used in data analyses:
* [dplyr](http://dplyr.tidyverse.org/) for data wrangling.
* [ggplot2](http://ggplot2.tidyverse.org/) for data visualization.

The aim is to work through all pre-processing and cleaning techniques which we might want to consider when working with any dataset.

The packages are already installed within this environment, but if you wanted to install these in R, you can do so using `install.packages("dplyr")`.

Before we can get started with analyses we need to load the relevant R libraries.

### Load R libraries. ###

In [ ]:
library(dplyr)
library(ggplot2)

We'll then load in the data. The Titanic data consists of two datasets, `train` and `test`, but we'll only use the train data today.

### Load Titanic Train data. ###

In [ ]:
train <- read.csv("https://raw.githubusercontent.com/paulhendricks/titanic/master/inst/data-raw/train.csv")

A good first step in understanding your data is to check the structure of the data, such as the data type of each attribute, as well as how many rows and columns (observations and variables in R language) we can do this using `str()`.

### Check the Structure of Titanic data. ###

In [ ]:
str(train)

### What are the variables in the dataset? ###

* **PassengerId**: Serial Number
* **Survived**: Contains binary Values of 0 & 1. Passenger did not survive — 0, Passenger Survived — 1.
* **Pclass**: Ticket Class | 1st Class, 2nd Class or 3rd Class Ticket
* **Name**: Name of the passenger
* **Sex**: Male or Female
* **Age**: Age in years — Integer
* **SibSp**: No. of Siblings / Spouses — brothers, sisters and/or husband/wife
* **Parch**: No. of parents/children — mother/father and/or daughter, son
* **Ticket**: Serial Number
* **Fare**: Passenger fare
* **Cabin**: Cabin Number
* **Embarked**: Port of Embarkment | C- Cherbourg, Q — Queenstown, S — Southampton

Now we know which fields are included in the dataset, we might want to have a look at the raw data before we begin our analyses.

We can do so using `head` to show the first 6 rows, and `tail` to show the last 6 rows.

In [ ]:
head(train)

In [ ]:
tail(train)

### Check for missing values ###

We know which fields we have in the dataset, and the size of the dataset, but it's important to consider any missing data.

We can do this using a combination of `is.na` and `colSums`.

In [ ]:
colSums(is.na(train))

We can see that `Age` has 177 missing values in our Train data. For other values we may want to impute missing values, but for missing ages, we'll leave them as blank.

### Extract Title from the Name field ###

We can extract title from `Name` using `gsub`. The gsub function replaces all instances of the pattern provided in the specified column of the dataframe. In this instance, we're looking for the characters `,` and `.` and replacing anything outside of this with blank space. 

'Bloggs, Mr. Joe' would become 'Mr' and would be created as a column called `Title` in the Train dataset.

In [ ]:
train$Title <- gsub('(.*, )|(\\..*)', '', train$Name)

We can use `head` again to glimpse at our data to check if this new column is as we'd expect.

In [ ]:
head(train)

To get an overview of the data, we can use the function `summary`.

### Summarize Titanic data ###

In [ ]:
summary(train)

Now do the same using a pipe `%>%`, one of the handiest tools in Tidyverse.

In [ ]:
train %>% 
  summary()

**Recap:**

* We've imported Titanic train data and viewed some of the data.
* We've used the pipe operator `%>%`.

**Next:**

* Data wrangling with `dplyr` to:
* **filter** our data to areas of interest.
* **arrange** the data to generate new insights.
* create new features by **mutating** existing ones.

## Wrangle data ##

We'll start pulling out some initial insights using `dplyr` functionality, such as `filter`, `arrange` and `mutate`.

This is really useful if we wanted to limit (filter) the data to only the observations of interest, or order by a value (arrange) or create new columns (mutate).

We can read `dplyr` code like a sentence: start with our "train" data (%>% and then) filter to only return those records where the sex is male `(filter(Sex == "male")`.

Filter to return all "male" rows

In [ ]:
train %>% 
  filter(Sex == "male")

**Does our data give us any indication about whether men are likely to have survived or not?**

An initial view of the data seems to suggest that men typically did not survive (at least in the data we can see here).

**TO DO: Write the code to filter to filter to only return females**

**Does our data give us any indication about whether women are likely to have survived or not?**

An initial view of the data suggests that a lot of women did survive. We'll come on to this in more detail a little bit later.

What if we wanted to `arrange` our observations by increasing `Fare` to see if we can notice any trends? We can use `arrange` to achieve this.

Arrange by increasing Fare.

In [ ]:
train %>%
  arrange(Fare)

**Does our data give us any indication about whether fare paid has an effect on the chance of survival or not?**

From the data we can see, a lot of the people who paid less did not survive the disaster. That's something interesting that we've just discovered just by re-arranging our data.

The second half of the dataset (those who paid a higher fare) we can see a lot of the people who paid more did survive the disaster. We can confirm this using `arrange` in descending order.

In [ ]:
train %>% 
  arrange(desc(Fare))

## Creating new variables using `mutate` ##

We can also create new variables to add to our dataset, to give us new insights.

We know that the variable "Parch" is the number of parents and children while "SibSp" is the number of siblings and spouses. 

We can add these together to get a new variable "FamSize". To do so, we `mutate` the original variables into the new one.

Create new column `FamSize` (size of family)

In [ ]:
train %>% 
  mutate(FamSize = Parch + SibSp)

**Is it possible that larger families have a lower rate of survival?**

To test this, we can use our new variable "FamSize" and arrange by decreasing "FamSize".

In [ ]:
train %>% 
  mutate(FamSize = Parch + SibSp) %>% 
  arrange(desc(FamSize))

**Does our data give us any indication about whether larger families had an impact on the chance of survival or not?**

From the data we can see, some families had 7 or 10 members on-board, and all of the largest families we can see did not survive.

We can also use `mutate` to amend existing columns, we might want to re-assign 0 and 1 in the "Survived" column to a Yes or No.

Turn numerical values of Survived column to "No" & "Yes" (but assign to a new dataframe)

In [ ]:
survived <- train %>%
  mutate(Survived = ifelse(Survived == 0, "No", "Yes"))

In [ ]:
head(survived)

Notice that the Survived column has amended 0 to No, and 1 to Yes, which makes the dataset a little more user-friendly.

**Recap:**

* We've imported our Titanic data and viewed some of the data
* We've used the pipe operator `%>%`
* We can now use `dplyr` to wrangle our data to `filter`, `arrange` and create new features by `mutating` existing ones.

**Next:**

* We'll plot our data using `ggplot2` to get a visual view to derive new insights.

## Plotting data

To plot our data using `ggplot2`, we need to specify three things:

* Data
* Aesthetics (e.g. what's on the x-axis and y-axis)
* Plot (e.g. barplot, scatterplot)

**About ggplot:**

* We can read the `ggplot2` code like a sentence to understand what is happening: 

`ggplot(train, aes(x = Age, y = Fare)) +
  geom_point()`

**How to read the code**

We take the titanic `train` data and we map `Age` to the x axis and `Fare` to the y axis, we then add points on as the layer of the plot.

The first question that springs to mind regarding the Titanic is **"How many people survived?"**

Plot barplot of passenger surivival rate.

In [ ]:
ggplot(survived, aes(x = Survived)) +
  geom_bar()

This is useful, but it's quite tricky to see from this plot to know what proportion survived. We can make this clearer by returning the proportion. We can do so using the `prop.table` function.

In [ ]:
prop.table(table(survived$Survived))

We can see that only 38.4% of all passengers who on-boarded the Titanic survived.

We might want to investigate if the Age of any given passenger correlates with the fare paid. We can do this using a scatterplot, know as `geom_point` in `ggplot`.

Scatter plot of `Age` vs `Fare`.

In [ ]:
ggplot(survived, aes(x = Age, y = Fare)) +
  geom_point()

*We receive a warning above the plot, the 177 records have been removed with missing values. This is because of those NULL values we identified earlier.*

**Does our data give us any indication about whether there was any correlation between fare paid and age of the passenger?**

We can see that the majority of points within the data have a fare of £100 or less. There are also two notable outliers who had a fare greater than £500!

If we use the previous barplot and colour each point by `Sex` to see if there are any correlations between `Sex`, `Age` and `Fare`.

Scatter plot of `Age` vs `Fare` coloured by `Sex`.

In [ ]:
ggplot(survived, aes(x = Age, y = Fare, color = Sex)) +
  geom_point()

The plot above is useful, we can now see the data points are coloured by sex, as well as our original fare and age, but what if we wanted to add the Survived variable to the plot, to see if that shows us anything of interest?

**We can use `facet_grid` to produce multiple plots at the same time**

Scatter plot of Age vs Fare colored by Sex faceted by Survived.

In [ ]:
ggplot(survived, aes(x = Age, y = Fare, color = Sex)) +
  geom_point() +
  facet_grid(~Survived)

**Does our data give us any indication about whether Sex had an impact on the chance of survival or not?** 

We see that the survival rate amongst women was significantly higher when compared to men.

It is believed that in case of rescue operations during disasters, women's safety is prioritised. It certainly looks as though this is the case, with women much more likely to survive.

We can create a bar plot to see if this was the case overall, by plotting Sex and whether they survived or not.

Plot barplot of passenger `Sex` & fill according to `Survival`.

In [ ]:
ggplot(survived, aes(x = Sex, fill = Survived)) +
  geom_bar()

**Does our data give us any indication about whether Sex had an impact on the chance of survival or not?**

We see that the survival rate amongst women was significantly higher when compared to men.

Can we see any differences depending on the type of ticket they held? This can be determined using the `pclass` variable e.g. 1st, 2nd or 3rd class.

**TO DO: Using the created survivded dataset, plot pclass against survived column using as a barplot.**

In [ ]:
#ggplot(survived, aes(x = Pclass, fill = Survived)) +
#  geom_bar()

**Does our data give us any indication about whether class had an impact on the chance of survival or not?**

There were 3 groups of passengers, depending upon the class they were travelling in - 1st class, 2nd class and 3rd class. 

We see that over 50% of the passengers were travelling in the 3rd class, but a much higher proportion of passengers in 1st class survived.

Could it be preferential treatment why the passengers travelling first class, or could it be because the 3rd class compartments were in the lower extremity of the ship? Or could it be down to the placement of the lifeboats and how accessible they are to each class?

TO DO: *Add in picture of titanic classes*

In [ ]:
ggplot(survived, aes(x = Age, fill = Survived)) +
  geom_histogram(binwidth = 3, position = "fill") +
  ylab("Frequency")

**Does our data give us any indication about whether age had an impact on the chance of survival or not?**

We can see that young children, particularly up to 10 years old, had a greater chance of survival. From the previous plot we see that women are more likely to survive than men. 

The captain explicitly issued an order for women and children to be saved first. As a result, the survival rate for women was three times higher than for men.

**Recap:**

* We've imported our Titanic data and viewed some of the data
* We've used the pipe operator `%>%`
* We can use `dplyr` to wrangle our data to `filter`, `arrange` and create new features by `mutating` existing ones.
* We've plotted our data using `ggplot2`.

**Next:**

* Learn how to `summarise` our data.

## Summarizing and grouping data ##

The summarize function reduces a data frame to a summary of just one vector or value. Many times, these summaries are calculated by grouping observations using a factor or categorical variables first. 

Use the `summarise` verb to find out the mean fare paid.

In [ ]:
train %>% 
  summarise(meanFare = mean(Fare))

We can use the `filter` and `summarise` functions to find out the mean fare paid among men.

In [ ]:
train %>% 
  filter(Sex == "male") %>% 
  summarise(meanFare = mean(Fare))

Use the `filter` and `summarise` verbs to find out the mean fare paid among women.

In [ ]:
#train %>% 
#  filter(Sex == "female") %>% 
#  summarise(meanFare = mean(Fare))

We can extend on this again, using the `filter` and `summarise` functions to find out the mean fare paid among women **and** how many women survived.

In [ ]:
train %>% 
  filter(Sex == "female") %>%
  summarise(meanFare = mean(Fare), 
            NumSurv = sum(Survived))

We can use Use the `group_by` and `summarise` functions to find the mean fare and number of survivors and group by `Sex`.

In [ ]:
train %>% 
  group_by(Sex) %>% 
  summarise(meanFare = mean(Fare),
            NumSurv = sum(Survived))

Use the `group_by` and `summarise` functions to find the mean fare and proportion of survivors and group by `Sex`.

In [ ]:
train %>% 
  group_by(Sex) %>% 
  summarise(meanFare = mean(Fare),
            NumSurv = sum(Survived)/n())

Can we do the same using PClass to see if the class of ticket has any significant impact on survival?

In [ ]:
train %>% 
  group_by(Pclass) %>% 
  summarise(meanFare = mean(Fare),
            NumSurv = sum(Survived)/n())

**Does our data give us any indication about whether class had an impact on the chance of survival or not?**

* Around 6 in 10 passengers within first class survived
* Around 5 in 10 passengers within second class survived
* Around 2 in 10 passengers within third class survived

## In Summary ##

* We've imported the Titanic train data and viewed some of the data.
* We've used the pipe operator `%>%`.
* We can use `dplyr` to wrangle our data to `filter`, `arrange` and create new features by `mutating` existing ones.
* We can plot our data using `ggplot2`.
* We can summarise our data using `summarise`.

## Interested to know more? ##

Feel free to play around and do your own exploratory analysis, thinking about which fields you could explore or combine to create new insights.

## Thanks for joining! ##